<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
    <link rel="stylesheet" type="text/css" href="~/css/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/BuildBazaar.css">
    <link rel="icon" href="~/media/bazaar-logo.png" />

    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/modernizr-2.8.3.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/buildbazaar-universal.js"></script>
</head>
<body>
    <div class="container body-content">
        <div class="header">
            <div class="buildBazaarHeader headerSection">
                <div class="buildBazaarHeaderWrapper" onclick=logoClick();>
                    <img src="~/media/bazaar-logo.png">
                    <span>Build Bazaar</span>
                </div>
            </div>
            <svg id="header-menu-button" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" onclick="toggleHeaderMenu();">
                <rect x="15" y="20" width="70" height="10" fill="white" />
                <rect x="15" y="40" width="70" height="10" fill="white" />
                <rect x="15" y="60" width="70" height="10" fill="white" />
                <path d="M15 80 L50 100 L85 80 Z" fill="white" />
            </svg>
            <div id="poe-header" class="header-group">
                <div class="headerSeparator"></div>
                <div class="headerSection clickable" onclick="window.open('https://poe.ninja/', '_blank');">
                    <img src="/media/ninja-logo.png">
                    <span>PoE Ninja</span>
                </div>
                <div class="headerSeparator"></div>
                <div class="headerSection clickable" onclick="window.open('https://www.craftofexile.com/', '_blank');">
                    <img src="/media/coe-logo.ico">
                    <span>Craft of Exile</span>
                </div>
                <div class="headerSeparator"></div>
                <div class="headerSection clickable" onclick="window.open('https://poedb.tw/', '_blank');">
                    <img src="/media/poedb-logo.png">
                    <span>PoE DB</span>
                </div>
                <div class="headerSeparator"></div>
                <div class="headerSection clickable" onclick="window.open('https://www.poelab.com/', '_blank');">
                    <img src="/media/poelab-logo.png">
                    <span>PoE Lab</span>
                </div>
                <div class="headerSeparator"></div>
                <div class="headerSection clickable" onclick="window.open('https://www.pathofexile.com/trade/', '_blank');">
                    <img src="/media/poe-logo.ico">
                    <span>Trade</span>
                </div>
                <div class="headerSeparator"></div>
            </div>
            <div id="poe2-header" class="header-group">
                <div class="headerSeparator"></div>
                <div class="headerSection clickable" onclick="window.open('https://orbwatch.trade', '_blank');">
                    <img src="/media/orbwatch-logo.png">
                    <span>Orb Watch</span>
                </div>
                <div class="headerSeparator"></div>
                <div class="headerSection clickable" onclick="window.open('https://www.craftofexile.com/?game=poe2', '_blank');">
                    <img src="/media/coe-logo.ico">
                    <span>Craft of Exile</span>
                </div>
                <div class="headerSeparator"></div>
                <div class="headerSection clickable" onclick="window.open('https://poe2db.tw/', '_blank');">
                    <img src="/media/poedb-logo.png">
                    <span>PoE DB</span>
                </div>
                <div class="headerSeparator"></div>
                <div class="headerSection clickable" onclick="window.open('https://www.pathofexile.com/trade2/', '_blank');">
                    <img src="/media/poe-logo.ico">
                    <span>Trade</span>
                </div>
                <div class="headerSeparator"></div>
            </div>
            <div id="header-slider-wrapper" class="slider-wrapper">
                <div id="header-slider" class="slider hidden">
                    <div id="header-slider-button" class=" slider-button hidden"></div>
                    <div class="header-slider-option slider-option" data-value="1">PoE</div>
                    <div class="header-slider-option slider-option" data-value="2">PoE 2</div>
                </div>
            </div>
            <div class="logoutHeader headerSection">
                <div class="logoutWrapper" onclick="logout()">
                    <img id="logout-image" src="/media/logout.png" alt="Sign Out Icon">
                    <span id="logout-text">Log Out</span>
                </div>
            </div>
        </div>

        <div id="header-menu" class="header-menu">
            <ul id="header-menu-list" style="list-style-type: none;">
                <li id="menu-slider-li">
                    <div id="header-menu-slider-wrapper" class="slider-wrapper">
                        <div id="header-menu-slider" class="slider hidden">
                            <div id="header-menu-slider-button" class=" slider-button hidden"></div>
                            <div class="header-menu-slider-option slider-option" data-value="1">PoE</div>
                            <div class="header-menu-slider-option slider-option" data-value="2">PoE 2</div>
                        </div>
                    </div>
                </li>
                <li class="poe-li" onclick="window.open('https://www.craftofexile.com/', '_blank'); toggleHeaderMenu();">
                    <img class="thumbnail" src="/media/ninja-logo.png">
                    <h2>PoE Ninja</h2>
                </li>
                <li class="poe-li" onclick="window.open('https://www.craftofexile.com/', '_blank'); toggleHeaderMenu();">
                    <img class="thumbnail" src="/media/coe-logo.ico">
                    <h2>Craft of Exile</h2>
                </li>
                <li class="poe-li" onclick="window.open('https://poedb.tw/', '_blank'); toggleHeaderMenu();">
                    <img class="thumbnail" src="/media/poedb-logo.png">
                    <h2>PoE DB</h2>
                </li>
                <li class="poe-li" onclick="window.open('https://www.poelab.com/', '_blank'); toggleHeaderMenu();">
                    <img class="thumbnail" src="/media/poelab-logo.png">
                    <h2>PoE Lab</h2>
                </li>
                <li class="poe-li" onclick="window.open('https://www.pathofexile.com/trade/', '_blank'); toggleHeaderMenu();">
                    <img class="thumbnail" src="/media/poe-logo.ico">
                    <h2>Trade</h2>
                </li>
                <li class="poe2-li" onclick="window.open('https://orbwatch.trade/', '_blank'); toggleHeaderMenu();">
                    <img class="thumbnail" src="/media/orbwatch-logo.png">
                    <h2>Orb Watch</h2>
                </li>
                <li class="poe2-li" onclick="window.open('https://www.craftofexile.com/?game=poe2/', '_blank'); toggleHeaderMenu();">
                    <img class="thumbnail" src="/media/coe-logo.ico">
                    <h2>Craft of Exile</h2>
                </li>
                <li class="poe2-li" onclick="window.open(''https://poe2db.tw/', '_blank'); toggleHeaderMenu();">
                    <img class="thumbnail" src="/media/poedb-logo.png">
                    <h2>PoE DB</h2>
                </li>
                <li class="poe2-li" onclick="window.open('https://www.pathofexile.com/trade2/', '_blank'); toggleHeaderMenu();">
                    <img class="thumbnail" src="/media/poe-logo.ico">
                    <h2>Trade</h2>
                </li>        
                <li id="filter-builds-li" onclick="$('#header-menu-build-filter').focus();">
                    <h2 id="header-menu-filter-builds-text">Filter Builds</h2>
                    <input id="header-menu-build-filter" type="text" placeholder="Build Name">
                </li>
            </ul>
        </div>

        <div id="login-popup" class="popup-overlay">
            <div class="popup-content">
                <h2>Log In</h2>
                <form id="login-form" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input id="username" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input id="password" type="password" required>
                    </div>
                    <div class="forgot-password">
                        <a href="javascript:void(0);" onclick="showPasswordResetForm()">Forgot username or password?</a>
                    </div>
                    <div class="buttons">
                        <button id="login-button" type="submit">Log In</button>
                        <button id="signup-button" class="form-middle-button" type="button" onclick="showSignupForm()">Sign Up</button>
                        <button id="login-cancel-button" type="button" onclick="hideLoginForm()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="signup-popup" class="popup-overlay">
            <div class="popup-content">
                <h2>Sign Up</h2>
                <form id="signup-form" method="post">
                    <div class="form-group">
                        <label for="email">Email:</label><input id="new-email" type="email" required>
                    </div>
                    <div class="form-group">
                        <label for="new-username">Username:</label><input id="new-username" type="text" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="new-password">Password:</label><input id="new-password" type="password" name="password" placeholder="Minimum of 8 characters" required>
                    </div>
                    <div class="buttons">
                        <button id="signup-submit" type="submit">Sign up</button>
                        <button id="signup-cancel" type="button" onclick="hideSignupForm()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
