@{
    ViewBag.Title = "Build Bazaar";
}

<!DOCTYPE html>
<head>
    <script src="~/js/buildbazaar-index.js"></script>
</head>
<body class="index-content">
    <div id="search-container">
        <form id="search-form" method="post">
            <div class="search-form-group">
                <label for="search-buildname">Name: </label>
                <input id="search-buildname" type="text" placeholder="Build Name">
            </div>

            <div class="search-form-group">
                <label for="search-author">Author: </label>
                <input id="search-author" type="text" placeholder="Author">
            </div>

            <div class="search-form-group">
                <label for="search-class">Class:</label>
                <select id="search-class" name="class">
                    @*populate with db query*@
                    <option value="0">Any Class</option>
                </select>
            </div>
             
            <div class="search-form-group">
                <label>Game: </label>
                <div class="slider-wrapper" style="justify-content:left;">
                    <div id="search-slider" class="slider">
                        <div id="search-slider-button" class="slider-button"></div>
                        <div class="search-slider-option active" data-value="1">PoE</div>
                        <div class="search-slider-option" data-value="2">PoE 2</div>
                    </div>
                </div>
            </div>

            <div class="search-form-group">
                <label for="search-sort">Sort by:</label>
                <select id="search-sort">
                    <option value="0">Newest</option>
                    <option value="1">Oldest</option>
                    @* <option value="2">Most Popular</option>
                    <option value="3">Least Popular</option> *@
                </select>
            </div>
            
            <div class="search-form-group">
                <label for="Tags">Tags: </label>
                <input id="search-tags" type="text" placeholder="Tags (use commas to separate multiple tags)">
            </div>

            <div class="buttons">
                <button id="search-submit" type="submit">Search</button>
                <button id="search-reset" type="button">Reset</button>
            </div>
        </form>
    </div>

    <div id="results-container">
        <div id="results-header">
            <div class="results-column-header" data-sort="build">Build</div>
            <div class="results-column-header" data-sort="author">Author</div>
            <div class="results-column-header" data-sort="game">Game</div>
            <div class="results-column-header" data-sort="class">Class</div>
            <div class="results-column-header" data-sort="tags">Tags</div>
        </div>
        <div id="search-results">

        </div>
    </div>

    
    <div id="password-reset-popup" class="popup-overlay">
        <div class="popup-content">
            <h2>Password Reset</h2>
            <form id="password-reset-form" method="post">
                <label class="grid-centered">Enter your email address to receive a reset link.</label>
                <div class="form-group">
                    <label for="reset-email">Email:</label><input type="email" id="reset-email" required>
                </div>
                <div class="buttons">
                    <button id="password-reset-submit" type="submit">Send Link</button>
                    <button id="password-reset-cancel" type="button" onclick="hidePasswordResetForm()">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div id="new-password-popup" class="popup-overlay">
        <div class="popup-content">
            <h2>New Password</h2>
            <form id="new-password-form" method="post">
                <label class="grid-centered">Enter a new password for your account</label>
                <div class="form-group">
                    <label for="token-new-password">Password:</label><input id="token-new-password" type="password" placeholder="Minimum of 8 characters" required>
                </div>
                <div class="buttons">
                    <button id="new-password-submit" type="submit" >Save</button>
                    <button id="new-password-cancel" type="button" onclick="hideNewPasswordForm()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>
