
@{
    ViewBag.Title = "Public Builds";
}

<!DOCTYPE html>
<head>
    <script src="~/js/buildbazaar-shared.js"></script>
    <script src="~/js/buildbazaar-public.js"></script>
</head>
<body>
    <div id="content">        
        <div class="overlay"></div>
        <div id="main-row" class="row">
            <div id="sidebar">
                <div class="filter-container">
                    <div id="sidebar-toggle">&#9776;</div>
                    <input id="build-filter" type="text" placeholder="Filter Builds">
                </div>
                <div class="sidebar-content">
                    <ul id="sidebar-build-list" style="list-style-type: none;"></ul>
                </div>
            </div>
            <div class="column public-column" id="notes-column">
                <div class="column-header"></div>
                <div class="column-container-public">
                    <p id="notes"></p>
                </div>
            </div>
            <div class="column noscroll">
                <div class="column-header">
                    <div class="dropdown">
                        <button id="dropdown-toggle" class="header-button">
                            Select URL
                            <svg class="svg-arrow" viewBox="0 0 10 5" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0 L5 5 L10 0 Z" fill="white" />
                            </svg>
                        </button>
                        <div class="dropdown-content"></div>
                    </div>
                </div>
                <iframe id="iframe-window"></iframe>
            </div>
            <div class="column public-column" id="imagesColumn">    
                <div class="column-header"></div>
                <div class="column-container-public">
                    <ul id="reference-image-list" class="sortable-list"></ul>
                </div>
            </div>
        </div>
    </div>

    <div id="build-context-menu">
        <ul>
            <li id="context-copy-public-url">Copy Public URL</li>
        </ul>
    </div>
</body>